.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-card{    
        width: 100%;
        max-width: 500px;
        background-color: rgba(75, 74, 74, 0.8);
        border-radius: 10px;
        padding: 20px;
        border: 2px solid gray;
        box-shadow: 0 4px 8px rgba(196, 7, 7, 0.856);
        font-family: 'Poppins', sans-serif;          
}
.login-Button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-button-2{
    width: 100%;
}
.login-h1-title{
    font-family: 'Poppins', sans-serif;
    font-size:xx-large ;
    font-weight:800 ;
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;

}
.login-a-tag{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    transition: color 1s ease;

}
.login-a-tag:hover{
   color: black;
   transition:all 0.1s ;
}